@*-- Uploader scripts --*@
<script src="@Url.Content("~/Scripts/SWFUpload/swfupload.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/SWFUpload/jquery-asyncUpload-0.1.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/SWFUpload/fileprogress.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SWFUpload/handlers.js")" type="text/javascript"></script>

<script type="text/javascript">
    var swfu;
    $(document).ready(function() {
        var actionMethod = $("#AjaxUploadForm").attr("action");
        swfu = new SWFUpload({
                // Backend settings
                upload_url: actionMethod,

				// Flash file settings
                file_size_limit: "10 MB",
                file_types: "*.*", /*"*.txt; *.doc; *.docx; *.pdf",*/
                file_types_description: "Resume files",
                file_upload_limit: "0",
                file_queue_limit: "1",

				// Event handler settings
                swfupload_loaded_handler: swfUploadLoaded,

                file_dialog_start_handler: fileDialogStart,
                file_queued_handler: fileQueued,
                file_queue_error_handler: fileQueueError,
                file_dialog_complete_handler: fileDialogComplete,
				
				//upload_start_handler : uploadStart,	// some client/JavaScript validation could be done here
                upload_progress_handler: uploadProgress,
                upload_error_handler: uploadError,
                upload_success_handler: uploadSuccess,
                upload_complete_handler: uploadComplete,

				// Button Settings
                button_image_url: '@Url.Content("~/Content/CSS/squarely/images/ButtonUploadText_61x22.png")', 
                button_placeholder_id: "spanButtonPlaceholder", 
                button_width: 61,  
                button_height: 22,
				
				// Flash Settings
                flash_url: '@Url.Content("~/Scripts/SWFUpload/swfupload.swf")',

                custom_settings: {
                    progress_target: "fsUploadProgress",
                    upload_successful: false
                },
				
				// Debug settings
                debug: false
            });
    });
    </script>

@{
    using (Html.BeginForm("AjaxUpload", "Resume", FormMethod.Post, new {id = "AjaxUploadForm", enctype = "multipart/form-data"}))
    {
        <table>
            <tr>
                <td colspan="2">
                    <div>
                        Resume (10 MB max):
                        <input type="text" id="txtFileName" disabled="true" style="border: solid 1px; background-color: #FFFFFF;" />
                        <span id="spanButtonPlaceholder"></span>
                    </div>
                        <label id="errorMessage"></label>
                    <div>
                    </div>
                    <div class="flash" id="fsUploadProgress">
                        <!-- This is where the file progress gets shown.  SWFUpload doesn't update the UI directly. -->
                        <!-- The Handlers (in handlers.js) process the upload events and make the UI updates -->
                    </div>
                    <input type="hidden" name="hidFileID" id="hidFileID" value="" />
                    <!-- This is where the file ID is stored after SWFUpload uploads the file and gets the ID back from ActionMethod -->
                </td>
            </tr>
            <tr>
                <td>
                    <input id="btnSubmit" type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
}